name: Deploy Azure function

on:
  workflow_call:
    inputs:
      environment:
        required: true
        description: The name of the environment where to deploy
        type: string
      target:
        required: true
        description: The environment target of the job
        type: string
      resource_group:
        required: true
        description: The resource group of the function to deploy
        type: string
      app_name:
        required: true
        description: The name of the function to deploy
        type: string
      registry_image:
        required: true
        description: The name of the image from container registry to be used
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  create_staging_slot:
    name: Create staging slots
    runs-on: ubuntu-22.04
    if: ${{ inputs.target == inputs.environment }}
    environment:
      name: ${{ inputs.environment }}
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v3

      - name: 'Login via Azure CLI'
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

      - name: 'Azure CLI script: start staging slot'
        uses: azure/CLI@v1
        if: ${{ (inputs.target == inputs.environment && inputs.target == 'prod') }}
        with:
          inlineScript: az functionapp start --name ${{ inputs.app_name }} --resource-group ${{ inputs.resource_group }} --slot staging

      - name: 'Run Azure Functions Container Action: staging slot'
        uses: Azure/functions-container-action@v1.2.1
        if: ${{ (inputs.target == inputs.environment && inputs.target == 'prod') }}
        with:
          app-name: ${{ inputs.app_name }}
          image: ${{ inputs.registry_image }}
          slot-name: staging

  deploy:
    name: Deploy Azure Function
    runs-on: ubuntu-22.04
    needs: [ create_staging_slot ]
    environment:
      name: ${{ inputs.environment }}
    if: ${{ inputs.target == inputs.environment }}
    steps:
      - name: 'Login via Azure CLI'
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.CLIENT_ID }}
          tenant-id: ${{ secrets.TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

      - name: 'Run Azure Functions Container Action'
        uses: Azure/functions-container-action@v1.2.1
        with:
          app-name: ${{ inputs.app_name }}
          image: ${{ inputs.registry_image }}
          slot-name: production


  cleanup_staging_slot:
    name: Clean staging slots
    needs: [ create_staging_slot, deploy ]
    if: ${{ success() || failure() && (inputs.target == inputs.environment && inputs.target == 'prod') }}
    runs-on: ubuntu-22.04
    environment:
      name: ${{ inputs.environment }}
    steps:
      - name: 'Azure CLI script: end staging slot'
        uses: azure/CLI@v1
        if: ${{ (inputs.target == inputs.environment && inputs.target == 'prod') }}
        with:
          inlineScript: |
            az functionapp stop --name ${{ inputs.app_name }} --resource-group ${{ inputs.resource_group }} --slot staging